.image-slider-app img {
  height: 5rem;
  display: block;
  padding: 1rem 1rem 0;
}

.image-slider-app {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}

.image-slider-app .black-and-white {
  filter: grayscale(100%);
}

.image-slider-app .center-column img {
  filter: grayscale(100%);
  animation: colorize 4s ease forwards;
}

@keyframes colorize {
  0% {
    transform: translate(-100%, -50%) scale(0.25);
    filter: grayscale(100%);
  }
  50% {
    transform: translate(0%, 0%) scale(1);
    filter: grayscale(0%);
  }
  100% {
    transform: translate( 100%, -90%) scale(0.25);
    filter: grayscale(0%);
  }
}

.image-slider-app .image-column.center-column img {
  height: 16rem;
}

.image-slider-app .image-column.center-column {
  margin: 15rem 0 0;
}

.image-slider-app img{
  transition: all 1s linear;
}

.image-slider-app .image-container {
  text-align: center;
  display: table;
}

.image-slider-app .image-container p {
  margin: 6px 0 1.5rem;
}

.image-slider-app .image-column.right-column .image-container p,
.image-slider-app .image-column.left-column .image-container p{
  color: #2A2A2A;
  font-weight: 600;
}

.image-slider-app .image-column.center-column .image-container p{
  color: #493184;
  font-weight: 800;
  font-size: 2rem;
}